

<div class="header d-flex justify-content-between bg-light p-20">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'allemployees' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'allemployees' %}">All Employees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'addemployee' %}">Add Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'singleemployee' %}">Search</a>
          </li>
      </ul>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
</div>